@use 'variables' as v;
@use 'mixins' as m;

.boton-amarillo-block {
    @include m.boton(v.$amarillo,block)
}

.boton-amarillo {
    @include m.boton (v.$amarillo,inline-block);
   
    
  
}    

.boton-verde {
    @include m.boton(v.$verde, block);
    width: 100%;

    @include m.tablet {
        display: inline-block;
        width: auto;
    }
}

.boton-rojo-block{
    @include m.boton(v.$rojo,block);
}

.boton-azul-block {
    @include m.boton(v.$azul,block);
}
.boton-azul {
    @include m.boton(v.$azul, block);
    width: 100%;

    @include m.tablet {
        display: inline-block;
        width: auto;
    }
}