@use 'variables' as v;
@use 'mixins' as m;

.boton-amarillo {
    @include m.boton(v.$amarillo,block)
}
.boton-verde {
    @include m.boton(v.$verde, block);
    width: 100%;

    @include m.tablet {
        display: inline-block;
        width: auto;
    }
}