@use 'variables' as v;

/** Media Queries **/
@mixin telefono {
    @media (min-width: v.$telefono) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: v.$tablet) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: v.$desktop) {
        @content;
    }
}

@mixin desktop1 {
    @media (min-width: v.$desktopxl) {
        @content;
    }
}
@mixin grid($columnas, $espaciado ) {
    display: grid;
    gap: $espaciado;
    grid-template-columns: repeat($columnas, 1fr);
}

@mixin boton($bgColor, $display){
    background-color: $bgColor;
    color: v.$blanco;
    font-weight: v.$bold;
    text-decoration: none;
    padding: 1rem 3rem;
    text-align: center;
    margin-top: 2.5rem;
    border-radius: .6rem;
    display: $display;


    &:hover {
        background-color: darken($color: $bgColor, $amount: 5%);
    }

    }