@use 'variables' as v;
@use 'mixins' as m;
.seccion {
    margin-top: calc(v.$separacion / 2);
    margin-bottom: calc(v.$separacion / 2);
}
.contenido-centrado {
    max-width: 80rem;
}
.alinear-derecha {
    display: flex;
    justify-content: center;

    @include m.tablet {
        justify-content: flex-end;
    }
}