@use 'variables' as v;

.alerta {
    padding: 1.2rem 1.6rem;
    margin-bottom: 1rem;
    border-radius: .6rem;
    font-size: 1.5rem;
    line-height: 1.4;
    font-weight: v.$bold;
    display: flex;
    align-items: center;
    gap: 1rem;

    &.exito {
        background-color: v.$bgExito;
        color: v.$verde;
        border-left: 5px solid v.$borderExito;
        box-shadow: 0 4px 10px rgba(v.$negro, 0.05);

        &::before {
            content: "✔";
            font-size: 1.6rem;
            line-height: 1;
        }
    }

    &.error {
        background-color: v.$bgError;
        color: v.$rojo;
        border-left: 5px solid v.$borderError;
        box-shadow: 0 4px 10px rgba(v.$negro, 0.05);

        &::before {
            content: "⚠";
            font-size: 1.6rem;
            line-height: 1;
        }
    }
}

.formulario {
    .error-text {
        margin-top: 0.4rem;
        font-size: 1.3rem;
        color: v.$rojo;
        font-weight: 500;
        line-height: 1.3;
        display: flex;
        align-items: center;
        gap: 0.4rem;

        &::before {
            content: "•";
            font-size: 1.6rem;
            line-height: 1;
        }
    }
}

