@use 'base/variables' as v;
@use 'base/mixins' as m;

@include m.tablet {
    .contenedor-anuncios {
        @include m.grid(3,2rem)
    }
}

.anuncios {
    background-color: v.$gris;
    border: 1px solid v.$grisBorder;

    .contenido-anuncio {
    padding: 2rem;
    flex: 1;
}

    h3,p {
        margin: 0;
    }
    
}

.precio {
        color: v.$verde;
        font-weight: v.$bold;
        font-size: 3rem;

    }

.iconos-caracteristicas {
    display: flex;
    list-style: none;
    padding: 0;
    max-width: 40rem;

    li {
        flex: 1;
        display: flex;

        img {
            flex: 0 0 3rem;
            margin-right: 1rem;
        }
        p {
            font-weight: v.$black;
        }
    }
        
}

.descripcion-anuncio{
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.img-propiedad {

    width: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;
    display: block;

}