@use 'base/variables' as v;

.footer {
    padding: v.$separacion/ 2;
    background-color: v.$grisOscuro;
    margin-bottom: 0;

    .navegacion {
        visibility: visible;
        opacity: 1;
        height: auto;
    }

    
}