@use 'base/variables' as v;
@use 'base/mixins' as m;

.barra {
    display: flex;
    flex-direction: column;
    padding-top: 3rem;
    align-items: center;
    @include m.tablet{
        flex-direction: row;
        justify-content: space-between;
    }
}

.navegacion {
    visibility: hidden;
    opacity: 0;
    transition: visibility .3s ease-in-out, opacity 0.5s linear, height 0.5s linear;
    height: 0;

    @include m.tablet{
        display: flex;
        align-items: center;
        visibility: visible;
        opacity: 1;
    }

    a {
        color: v.$blanco;
        text-decoration: none;
        font-size: 2.2rem;
        display: block;
        text-align: center;
        font-size: 1.8rem;

        @include m.tablet {
            margin-right: 2rem;
            &:last-of-type{
                margin-right: 0;
            }
        }
    }
}

// ** Menu de hamburguesa ** //

.mobile-menu {
    @include m.tablet {
        display: none;
    }

    img {
        width: 5rem;
        cursor: pointer;
    }
}

.mostrar {
    visibility: visible;
    opacity: 1;
    height: auto;
}