@use 'base/variables' as v;
@use 'base/mixins' as m;

@include m.desktop {
    .contenido-nosotros {
        display: grid;
        grid-template-columns: 1fr 2fr;
        gap: 2rem;

    }   
}


.texto-nosotros blockquote {
    font-weight: v.$black;
    font-size: 2.2rem;
    margin: 0;
    padding-top: 1rem;
}