@use 'base/variables' as v;
@use 'base/mixins' as m;

.testimonial {
    background-color: v.$verde;
    border-radius: 2rem;
    font-size: 2.4rem;
    padding: 2rem;
    color: v.$blanco;

    blockquote {
        padding-left: 5rem;
        position: relative;

        &::before {
            content: '';
            background-image: url(../img/comilla.svg);
            background-repeat: no-repeat;
            width: 6rem;
            height: 8rem;
            display: block;
            position: absolute;
            left: -2rem;
        }
    }

    p {
        text-align: right;
        color: v.$blanco;
    }
}